:root {
    --box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.36);
    --primary-color: #FDFFFC;
    --secondary-color: #235789;
    --tertiary-color: #241715;
}
@font-face {
    font-family: golos;
    src: url(fonts/GolosText-VariableFont_wght.ttf);
}

* {
    font-family: "golos";
}

html,
body {
    height: 100%;
    margin: 0px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
}

button {
    box-shadow: var(--box-shadow)
}

.header > button {
    align-self: center;
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    box-shadow: var(--box-shadow);
    margin-right: 20px;
}

.container {
    display: grid;
    grid-auto-columns: minmax(200px, 250px);
    grid-auto-rows: minmax(200px, 250px);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 300px;
    align-items: stretch;
    gap: 20px;
    padding: 10px;
}

.book-card {
    background-color:var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    border: solid black 1px;
    box-shadow: var(--box-shadow);
}

.book-card p {
    color: #87255B;
}

.book-card p::before {
    color: black;
}

.book-card p:nth-child(1)::before {
    content: "Title: ";
}

.book-card p:nth-child(2)::before {
    content: "Author: ";
}

.book-card p:nth-child(3)::before {
    content: "Number of pages: ";
}

.book-card p:nth-child(4)::before {
    content: "Read: ";
}

.read,
.delete {
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: max-content;
    width: 60px;
    padding: 4px 0px;
}

.read {
    margin-right: 5px;
}

.delete {

}

.book-card-button:nth-of-type(odd)::before {
    content: "Read";
}

.book-card-button:nth-of-type(even)::before {
    content: "Delete";
}

.form-div {
    border: solid black 1px;
    background-color: var(--primary-color);
    display: none;
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 25px;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.form-close {
    grid-column: -2 / -1;
    width: 30px;
    height: 30px;
    justify-self: end;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.36);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 8px;
}

.form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr) repeat(2, 0.5fr);
    grid-auto-flow: row;
}

.form > label:nth-of-type(1) {
    grid-row: 1 / 2;
}

.form > label:nth-of-type(2) {
    grid-row: 2 / 3;
}

.form > label:nth-of-type(3) {
    grid-row: 3 / 4;
}

.form > label:nth-of-type(4) {
    grid-row: 4 / 5;
    align-self: center;
}

.form > label:nth-of-type(5) {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    align-self: center;
}

input:invalid {
    border: solid 1px red;
}

#submit,
#reset {
    justify-self: center;
    border-radius: 5px;
    padding: 8px 4px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#submit:hover,
#reset:hover {
    background-color: #241715;
}

#submit {
    grid-row: 5 / 6;
    grid-column: -3 / -2;
}

#reset {
    grid-row: 5 / 6;
    grid-column: -2 / -1;
}

label {
    grid-column: span 4;
}

input {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

input[type="radio"] {
    width: fit-content;
    display: inline-block;
}

button:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color)
}
