html,
body {
    height: 100%;
    margin: 0px;
}

.container {
    display: grid;
    grid-auto-columns: minmax(200px, 250px);
    grid-auto-rows: minmax(200px, 250px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.book-card {
    background-color: rgb(231, 231, 231);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding-left: 20px;
}

.book-card p:nth-child(1)::before {
    content: "Title: ";
}

.book-card p:nth-child(2)::before {
    content: "Author: ";
}

.book-card p:nth-child(3)::before {
    content: "Number of pages: ";
}

.book-card p:nth-child(4)::before {
    content: "Read: ";
}

.book-card-button {
    height: 20px;
    width: fit-content
}

.book-card-button:nth-of-type(odd)::before {
    content: "Read";
}

.book-card-button:nth-of-type(even)::before {
    content: "Delete";
}

.form-div {
    border: solid black 1px;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -250px;
}

.form {
    display: none;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    width: 350px;
    height: 100px;
    background-color: white;
}

button:hover {
    background-color: red;
}
